@import url('global.css');

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero__headline {
  width: 45%;
}

.hero__headline h1 {
  font-size: 24px;
}

.hero__headline h2 {
  font-size: 15px;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin-top: 20px;
  width: 50%;
  transition: ease-in .2s background-color, ease-in .2s transform;
}

.hero__button:hover {
  background-color: #F94D9F;
  transform: scale(1.02)
}

.hero__button a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.hero__container img {
  width: 50%;
}

.challenges__container {
  padding-top: 60px;
}

.challenges__container h1 {
  font-size: 24px;
  text-align: center;
}

.challenges__container h2 {
  font-size: 15px;
  text-align: center;
}

.search__container {
  display: flex;
  margin: 40px 0;
}

.search__field {
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  color: var(--primary-color);
  width: 100%;
}

.search__field::placeholder {
  color: var(--secondary-color);
}

.card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  /* Divide a container em 4 e subtrai uma média do valor do espaçamento  */
  width: calc(var(--container-size) / 4 - 38px);

  /* Pega quase o valor mesmo valor do width, porém subtraindo um valor maior  */
  height: calc(var(--container-size) / 4 - 80px);

  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  color: #FFFFFF; 
  transition: ease-in .2s transform;
}

.card:hover {
  transform: scale(1.05);
}

.card__number {
  text-align: end;
  padding: 20px 20px 40px;
}

.card__text {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  background-color: #FFFFFF;
  border-radius: 10px;  
  color: var(--primary-color);
  padding: 20px;
  max-height: 60%;
  min-height: 60%;
  min-width: 100%;
  max-width: 100%;
}

/* Limita o número de linhas do parágrafo e adiciona os ...  */
.card__text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__text h2 {
  font-weight: bold;
  text-align: left;
}

@media only screen and (max-width: 1300px) {
  /* 
    Substituindo algumas medidas fixas por valores em vw, que correspondem à largura da tela, 
    garantindo que o design permaneça responsivo, evitando quebras no layout.

    PS: Não foram utilizados valores em vw nas medidas iniciais, pois isso poderia resultar em 
    distorções visuais em monitores maiores
  */

  :root {
    --container-size: 92vw;
  }

  .card {
    height: 18vw;
    margin: 0 3vw 3vw 0;
  }

  .card:nth-child(4n) {
    margin-right: 0;
  }

  .card__text,
  .card__number {
    padding: 2vw;
  }

  .card__number,
  .card__text h2, 
  .card__text p { 
    font-size: 1.2vw;
  }

  .card__container {
    gap: 0;
  }
}

@media only screen and (max-width: 940px) {
  .hero__headline {
    width: 50%;
  }

  .hero__button {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
  }
  
  .hero__headline {
    width: 100%;
  }

  .hero__container img {
    width: 100%;
    margin-top: 60px;
  }

  /* Três colunas de cards no container */
  .card {
    width: 26vw;
    height: 18vw;
    margin: 0 0 3vw 0;
  }

  .card__number,
  .card__text h2, 
  .card__text p { 
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 510px) {
  /* Duas colunas de cards no container */
  .card {
    width: 36vw;
    height: 28vw;
    margin: 0 0 3vw 0;
  }

  .card__number,
  .card__text h2, 
  .card__text p { 
    font-size: 2.4vw;
  }
}

@media only screen and (max-width: 370px) {
  /* Uma coluna de cards no container */
  .card {
    width: 100%;
    height: 30vw;
    margin: 0 0 4vw 0;
  }

  .card__number,
  .card__text h2, 
  .card__text p { 
    font-size: 2.6vw;
  }
}
